.banner {
    background: url("cover.jpg")
      no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
  }
  
  .lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #dc3545;
  }
  
  .lingkaran i {
    position: relative;
    top: 30px;
  }
  
  .crop-img {
    object-fit: cover;
  }
  
  .tim img {
    width: 250px;
    border: 10px solid #cccccc;
  }
  
  a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
  }
  
  .client img {
    height: auto;
    max-height: 50px;
  }
  
  .kontak {
    background: url("cover.jpg") no-repeat
      center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #fff;
  }


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

h2 {
    color: #00005B;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 150;
    font-style: normal;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: bold
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h4 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: bold
}

p {
    font-size: 20px;

}

p {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal
}

a {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal
}

.p2 {
    line-height: 18px;
}

.p1 {
    line-height: 16px;
}

